<mat-tab-group>

  <mat-tab label="FileUpload">

    <mat-toolbar>
      <!-- Displaying files names -->
      <p>file: <input #filename matInput [(ngModel)]="fileAttr" readonly name="name" /> </p>


      <!-- Fetch selected files on change -->
      <input #fileInput id="fileInput" type="file" (change)="uploadFileEvt($event)" name="uploadFile" hidden />
      <button mat-flat-button color="primary">
        <label for="fileInput" id="fileInputLabel">
          Browse
        </label>
      </button>
    </mat-toolbar>
    <br />
    <!-- Upload Button -->
    <button mat-flat-button color="primary" type="submit" (click)="uploadfile()"> Upload </button>
    <br/>
    <!-- progress-bar -->
    <div id="progress-bar">
      <mat-progress-bar mode="buffer" *ngIf="uploading" value="0"></mat-progress-bar>
    </div>

    <!-- Upload Status -->
    <p *ngIf="uploaded"> Upload Complete !!</p>


  </mat-tab>
  <mat-tab label=" History"> File Upload History
    <tbody>
    <!-- Showing Uploaded File List -->
      <tr *ngFor="let i of filelist">
        <td>{{i}}</td>
      </tr>
    </tbody>

    <!-- Clear button to remove all files -->
    <button mat-flat-button color="accent" (click)="clearHistory()">
      Clear
    </button>
  </mat-tab>

</mat-tab-group>
